<div ng-controller='formCtrl'>
    <form>
        <label for ='form input'>Input Cover Letter Text</label>
        <textarea ng-model='textInput' placeholder='Enter text here, must be more than 100 words'></textarea>
        <div class='button-center'>
            <button class="button" ng-click="personalitize()">analyze</button>
            <button class="button" ng-click="reload()">Reset</button>
        </div>
    </form>
<mydirective ng-class="{remove: reveal}"></mydirective>

<!-- <mydirective ng-class="{remove: reveal}">
        <span ng-style='output'></span>
</mydirective> -->
</div>
