/*
Hides output.html by default*/
.remove {
    visibility: hidden;
}

body {
  background: url("img/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heading {
    margin: 10px auto;
    text-align: center;
    font-size: 4vw;
    color: white;
    letter-spacing: 3vw;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 2em 1em 1em 1em;
}

p {
    text-align: center;
    font-size: 2.2vw;
    margin: 5vw 5vw 1vw 5vw;
    color: white;
    padding: 1.5vw;
    letter-spacing: .25vw;
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    min-width: 100px;
    justify-content: flex-end;

}
img {
    display: block;
    margin: auto;
    width: 15vw;
}
a.smooth { /* link buttons */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.25vw;
    height: 5vw;
    width: 15vw;
    line-height: 5vw;
    margin: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
}
button { /* form buttons */
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.25vw;
    height: 5vw;
    width: 15vw;
    line-height: 4vw;
/*     margin: auto; */
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;
    background-color: transparent;
    margin: 10px;

}
.button-center {
/*     display: block;
 *//*     margin: 10px auto;
 */    text-align: center;
    padding-bottom: 100px;
}
button:hover {
	background-color: #ff877b;
	text-decoration: none;
}
a:hover {
    color: white;
    background-color: #ff877b;
    text-decoration: none;
}

a:link {
    text-align: center;
    color: white;
    text-decoration: none;
}
a:visited {
    background-color: #ff877b;
    color: white;
    text-decoration: none;
}

form {
    margin: 10px auto;
    text-align: center;
}

input, textarea {
	background-color: white;
	text-align: left;
    vertical-align: top;
    height: 30vw;
    width: 80vw;
    border-radius:10px;
    border:3px solid lightgrey;
}
label {
     text-align: center;
    font-size: 3vw;
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

/*Textarea Style*/
::-webkit-input-placeholder {
    color: lightgrey;
    text-align: center;
    margin: auto auto;
    font-size: 2vw;
}
:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
    text-align: center;
    font-size: 2vw;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: blightgrey;
    text-align: center;
    font-size: 2vw;
}
:-ms-textarea-placeholder {
    color: lightgrey;
    text-align: center;
    font-size: 2vw;
}

table {
    margin: auto;
    color: white;
    background-color: rgba(255,255,255,.45);
    max-width: 80vw;
    border-radius: 20px;
    margin:auto;
    padding: 20px;

}
h3{
    margin: 20px auto;
    text-align: center;
    font-size: 3vw;
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#trait {
    padding: 25px 0px 25px 20px;
    font-family: 'Raleway', sans-serif;
/*     text-transform: uppercase;
 */    color: #163342;
    font-size: 1.5vw;
    text-align: left;
    vertical-align: top;
}
li {
    padding-top: 5px;
    font-family: 'Raleway', sans-serif;
    color: #163342;
    font-size: 1.25vw;
    text-align: left;
    vertical-align: baseline;
}
#percentage {
    padding: 25px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #163342;
    font-weight: bold;
    font-size: 2vw;
    text-align: left;
    vertical-align: top;
}
ul {
    padding-bottom: 50px;
    padding-right: 25px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
}
.about {
    display: inline;
    float: left;
    margin: auto;
    padding: 10px;
    width: 40vw;
}
#textabout {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2vw;
}
footer {
    background-color: grey;
    text-align: center;
    font-size: 1.5vw;
    color: rgba(255, 255, 255, 0.75);
    height: 4vw;
    padding-top: 1vw;
}
.who {
    margin: 0px 0px 100px 0px;
    text-align: center;
}
