/*
.results {
    visibility: hidden;
}
This will hide the div that contains text for results
but commented until jquery works to make the div
visible again once you hit the personalize button*/
body {
  background: url("img/bg-short.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.heading {
    margin: 20px auto;
    text-align: center;
    font-size: 5vw;
    color: white;
    letter-spacing: 3vw;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 2em 1em 1em 1em;
}

p {
    text-align: center;
    font-size: 2.5vw;
    margin: 5vw 5vw 1vw 5vw;
    color: white;
    padding: 2vw;
    letter-spacing: .25vw;
    font-family: 'Raleway', sans-serif;
    max-width: 1500px;
    min-width: 100px

}
img {
    display: block;
    margin: auto;
    width: 20vw;
}
.button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    height: 60px;
    width: 150px;
    line-height: 60px;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    color: white;

}
.button-center {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.button:hover {                     /*Won't work after link is clicked because of jquery*/
	color: white;
	background-color: #ff877b;
	text-decoration: none;
}
/*
.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
} */
/* .action-button
{
    position: relative;
    padding: 8px 38px;
  margin: 0px 8px 8px 0px;
  float: relative;
    border-radius: 8px;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    color: #FFF;
    text-decoration: none;
} */
/* .blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}
.action-button:active
{
    transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
End of button style
 */
a:link {
    text-align: center;
    color: white;
    text-decoration: none;
}
a:visited {
    background-color: #ff877b;
    color: white;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: #ff877b;
    text-decoration: none;
}
/*End of Nav Style*/


/*Form Style*/
form {
    margin: 10px auto;
    text-align: center;
}

input, textarea {
	background-color: white;
	text-align: left;
    vertical-align: top;
    height: 200;
    width: 400;
}

/*Textarea Style*/
::-webkit-input-placeholder {
    color: white;
    text-align: center;
    margin: auto auto;
}
:-moz-placeholder { /* Firefox 18- */
    color: white;
    text-align: center;
}
::-moz-placeholder {  /* Firefox 19+ */
    color: white;
    text-align: center;
}
:-ms-textarea-placeholder {
    color: black;
    text-align: center;
}
/*End of textarea style*/
span {
	font-family: 'Armata', sans-serif;
	color: lightblue;
}
/* label {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: white;
    margin: auto auto;
    display: block;
} */

label {
    margin: 20px auto;
    text-align: center;
    font-size: 3vw;
    color: white;
    display: block;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding: 2em 0em 0em 0em;
}
